body {
    margin: 0;
    padding: 0;
}

:root {
    --light-red: #ce6b5d;
    --light-basic: #f3f3f3;
}

header {
    padding-top: 40px;
    color: var(--light-basic);
    background-color: var(--light-red);
    min-height: 100vh;
    width: 100vw;
}

#logo_header {
    width: 180px;
    margin-bottom: 40px;
}

#youtube_video {
    pointer-events: none;
    width: 700px;
}

.video-buttons {
    padding: 14px 0 44px 0;
}