@import url('https://db.onlinewebfonts.com/c/58045dabdc3a361cb9bb9faf2f1dd1f3?family=Digital-7');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/manus-smoothtrial');


:root {
    --dark-red: #941f1f;
    --light-red: #ce6b5d;
    --light-basic: #f3f3f3;
    --light-green: #7b9971;
    --dark-green: #34502b;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.cronometro {
    background-color: var(--dark-red); 
    color: var(--light-basic); 
    font-size: 4em; 
    font-weight: normal; 
    text-align: center;
    font-family: 'digital-7 mono';
    position: fixed;
    width: 100%;
    padding-top: 12px;
    z-index: 200;
}

.cronometro span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

header {
    padding-top: 160px;
    color: var(--light-basic);
    background-color: var(--light-red);
    background: linear-gradient(180deg, var(--light-green), var(--light-green), var(--light-green), var(--light-green), #f3f3f3);
    min-height: 100vh;
}

#logo_header {
    width: 225px;
    margin-bottom: 40px;
}

#youtube-video {
    width: 700px;
    pointer-events: none;
}

.video-buttons {
    padding: 14px 0 14px 0;
}

.video-text {
    text-align: center;
}

.video-text-1 {
    color: var(--dark-green);
    font-size: 1.6em;
    font-weight: 700;
}

.video-text-2 {
    color: var(--dark-green);
    font-size: 1em;
}

.icon-group-1 {
    color: var(--light-green);
    font-size: 4em;
}

.title {
    font-family: 'Manus Smooth_TRIAL', 'Roboto', sans-serif;
    font-size: 3em;
}

.text-1 {
    font-size: 1.6em;
    font-weight: 700;
}

.text-2 {
    text-align: start !important;
    font-size: 1em;
}

.session {
    background-color: var(--light-basic);
    text-align: center;
    padding: 65px 0 65px 0;
}

.session2 {
    background-color: var(--light-red);
    color: var(--light-basic);
    text-align: center;
    padding: 65px 0 25px 0;
}

.texto-depoimento {
    text-align: left;
}